* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #fff;
	background-color: #333;
	overflow: hidden;
}
h1,
h2 {
	display: grid;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}
h1:hover {
	color: #fff; 
	text-decoration: underline;
	transform: scale(150%);
}